* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {  
    font-family: Arial;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;
}

.login {
    position: relative;
    width: 60%;
    height: 500px;
    border: 2px solid #000000;
    background-color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

label {
    padding: 20px;
    font-weight: bold;
    font-family: Arial;
}

input {
    padding: 8px;
    border: 1px solid #000000;
}

select,
#btn,
#second-btn {
    margin: 20px;
    padding: 8px;
    font-weight: bold;
    border: 1px solid #000000;
}

select {
    margin: 2px;
    padding: 8px;
    font-weight: bold;
    border: 1px solid #000000;
}

.button {
    text-align: center;
}

#myticket {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: crimson;
}

.hidden {
    display: none;
    transition: all 0.5s;
}

.show {
    display: block;
    transition: all 0.5s;
}

.ticket {
    margin-top: 20px;;
    display: flex;
    justify-content: center;
}

tr th {
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
}

tr th {
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
}

tr td {
    text-align: center;
    padding: 10px;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

#myticket .travel {
    margin-top: 50px;
    text-align: center;  
}

#myticket .travel h2 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: goldenrod;
}

#myticket .travel p {
    margin: 10px;
    font-size: 22px;
    font-weight: bold;
    text-transform: capitalize;
    font-style: italic;
    color: rgb(0, 255, 191);
}